html, body { background-color: #fafafc; color: var(--color-bl); } 
/* 빠른 참고, apple 레귤러 300, 볼드 700, 엑스트라볼드 800 영문 미디움 500, 세미볼드 600 */

/* 공통 */
:root { /* color */
--color-bl: #1d1d1f; --color-dg: #767677; --color-lg: #c2c2c3; --color-bg: #fafafc; } 
.EN { font-family: montserrat; letter-spacing: -0.027rem; } 
.cspointer { cursor: pointer; } 

/* header Staret */
header { position: fixed; top: 0; left: 0; width: 323px; height: 100%; padding: 30px 30px 30px 40px; border-right: 1px solid var(--color-bl); background-color: rgba(250, 250, 252, 0.7); -ms-backdrop-filter: blur(6px); -webkit-backdrop-filter: blur(6px); -moz-backdrop-filter: blur(6px); -o-backdrop-filter: blur(6px); backdrop-filter: blur(6px); transition: left 0.3s; z-index: 1; } 
/* 로고영역 */
header h1 { margin-bottom: 22px; } 
header h1 a { display: inline-block; vertical-align: bottom; } 
header h1 .tag { display: inline-block; color: var(--color-lg); margin-right: 1px; opacity: 0; transition: 0.5s; } 
header h1:hover .tag { opacity: 1; } 
header h1 .tag span { margin-left: 6px; } 
header h1 .name { display: inline-block; font-size: 26px; font-weight: 600; transform: translateX(-73px); transition: 0.5s; } 
header h1:hover .name { transform: translateX(0px); } 
header h1 .name span { display: inline-block; font-size: 20px; transform: translateY(-5px); opacity: 0; transition: 0.5s 0.3s; } 
header h1:hover .name span { opacity: 1; } 

/* 메뉴 영역 */
/* header .nav { } */
.nav>ul>li~li { margin-top: 9px; } 
/* .nav .mainMenu { } */
.nav .mainMenu a { display: inline-block; font-size: 18px; font-weight: 500; color: var(--color-lg); } 
.nav .mainMenu a:hover { color: var(--color-bl); } 
.nav .mainMenu.view a { position: relative; color: var(--color-bl); } 
.nav .mainMenu.view a::after { content: "*"; top: -7px; right: -10px; position: absolute; display: inline-block; font-family: montserrat; font-size: 26px; font-weight: 500; color: var(--color-bl); } 


/* 서브메뉴 영역 */
.nav .subMenu { position: absolute; display: none; top: 179px; left: 0; width: 100%; border-top: 1px solid var(--color-bl); padding: 30px 30px 30px 40px; } 
.nav .subMenu.view { display: block; } 
.nav .subMenu .des { font-size: 14px; font-weight: 300; margin-bottom: 6px; line-height: 18px; color: var(--color-dg); } 
.nav .subMenu>ul>li~li { margin-top: 3px; } 
.nav .subMenu a { position: relative; display: inline-block; font-size: 15px; font-weight: 300; padding: 4px 8px 4px 0; margin-bottom: 2px; } 
.nav .subMenu a.EN { font-size: 16px; font-weight: 500; margin-bottom: 0; } 
.nav .subMenu li.view a::after { content: "*"; position: absolute; top: 0; right: 0; display: block; font-family: montserrat; font-size: 18px; font-weight: 500; color: var(--color-bl); } 

/* 메뉴버튼 영역 */
header .triggerArea { position: absolute; display: none; top: 0; left: 100%; height: 100%; width: 20px; } 
.triggerArea .triggerBtn { width: 40px; height: 39px; border-right: 1px solid var(--color-bl); border-bottom: 1px solid var(--color-bl); cursor: pointer; opacity: 0.4; transition: opacity 0.25s; background-color: var(--color-bg); } 
.gnbWrap:hover .triggerArea .triggerBtn { opacity: 1; } 
.triggerArea .triggerBtn.fix { opacity: 1; } 
.triggerArea .triggerBtn .arrow { position: absolute; display: inline-block; top: 14px; left: 12px; width: 10px; height: 10px; border-top: 1px solid var(--color-bl); border-right: 1px solid var(--color-bl); rotate: 45deg; } 
.triggerArea .triggerBtn.fix .arrow { top: 14px; left: 18px; rotate: 225deg; } 

/* footer Start */
footer { position: fixed; bottom: 0; left: 0; width: 323px; padding: 30px 30px 30px 40px; border-top: 1px solid var(--color-bl); transition: left 0.3s; z-index: 2; } 
footer .kakaoChat { font-size: 16px; font-weight: 700; margin-bottom: 5px; } 
footer .email { font-size: 16px; font-weight: 600; margin-bottom: 5px; } 
footer .githubLink { font-size: 16px; font-weight: 600; margin-bottom: 16px; } 
footer .kakaoChat span { font-size: 14px; font-weight: 500; margin-right: 4px; } 
footer .email span { font-size: 14px; font-weight: 500; margin-right: 8px; } 
footer .githubLink span { font-size: 14px; font-weight: 500; margin-right: 8px; } 
footer .copy { font-size: 12px; color: var(--color-dg); line-height: 16px; } 



/* main Start */
.main { position: relative; margin-left: 323px; padding: 0 40px 0 80px; } 
/* 그라디언트 작업 취소 포지션 스티키로 대체 */
/* 샘플 background: linear-gradient(to top, red 10%, black 50%, cyan 50%); */
/* .main .container::before { content: ""; display: block; width: 474px; height: 238px; position: fixed; top: 0; left: 323px; background: linear-gradient(to bottom, #fafafc 208px, #fafafc 208px, transparent 238px); } */


.main .container section { margin-top: 235px; display: none; } 
.main .container section.view { display: block; } 

/* .main .container .contents { } */

/* 타이틀 */
.main .titleArea { position: sticky; top: 29px; left: 0; height: 46px; margin-bottom: 20px; } 
.main .titleArea .title { font-size: 24px; margin-bottom: 8px; font-weight: 800; } 
.main .titleArea .title.EN { font-weight: 700; } 
.main .titleArea .subTitle { color: var(--color-dg); font-size: 14px; } 

/* .desArea { } */
/* 이미지 기준 설명글 구역 나누기 */
.desArea .sectionWrap { position: relative; display: flex; margin-bottom: 200px; } 
.desArea .sectionWrap:last-child { margin-bottom: 80px; } 
/* 스티키 height 값 필순데, 콘텐츠별로 높이값이 다르니까 바로 박아주기 */
/* .sectionWrap .bodyText 에 붙여줘야함!!! */
.desArea .sectionWrap .bodyText { position: sticky; top: 239px; display: block; width: 387px; min-width: 387px; font-size: 16px; margin-right: 80px; } 
.desArea .sectionWrap .bodyText .ps { font-size: 14px; color: var(--color-dg); line-height: 21px; } 
/* 세팅 */
.desArea .setting { margin-bottom: 50px; } 
.desArea .setting div~div { margin-top: 10px; } 
.desArea .setting div div { display: inline-block; } 
.desArea .setting .title { font-weight: 700; margin-right: 8px; } 
/* 이미지 설명 */
/* .desArea .imgDes div div { display: inline-block; } */
.desArea .imgDes { line-height: 26px; } 
.desArea .imgDes .title { display: block; font-weight: 700; margin-right: 6px; } 
.desArea .imgDes .br { margin-bottom: 18px; } 
.desArea .imgDes .sbr { margin-bottom: 10px; } 
.desArea .imgDes .dot { font-size: 15px; line-height: 20px; } 
.desArea .imgDes .dot div~div { margin-top: 6px; } 
.desArea .imgDes .dot div::before { content: "■"; display: inline-block; font-size: 10px; margin-right: 8px; } 

/* 이미지 영역 */
.desArea .imgArea { display: flex; text-align: left; } 
.desArea .imgArea figure { display: block; text-align: center; } 
.desArea .imgArea figure .des { font-size: 14px; margin-bottom: 8px; } 
.desArea .imgArea figure img { box-shadow: 12px 12px 18px 0px rgba(0, 0, 0, 0.08); } 
.desArea .imgArea figure video { box-shadow: 12px 12px 18px 0px rgba(0, 0, 0, 0.08); } 
/* 이미지 영역이 스티키 돼야 할때는 클래스 넣어주고, 높이값 박아주기 */
.desArea .imgSticky { position: sticky; top: 239px; } 





/* 목업이미지 들어가는 메인 index */
.desArea .sectionWrap.index { margin-bottom: 80px; } 
/* section 구역별 */
/* 헤라 */
/* 헤라 인덱스 */
.hera .index .imgArea { width: 986px; min-width: 986px; justify-content: flex-end; } 
.hera .index .imgArea figure img { box-shadow: none; transform: translateY(-120px); width: 986px; } 

.hera .heraHeader { display: flex; } 
.hera .heraHeader .imgDes .ps { margin-bottom: 10px; } 
.hera .heraHeader .imgArea { position: relative; } 
.hera .heraHeader .submenuHover { position: absolute; display: none; left: 0; top: 22px; } 
.hera .heraHeader .searchHover { position: absolute; display: none; left: 0; top: 22px; } 
.hera .heraHeader .submenuHover img,
.hera .heraHeader .searchHover img { box-shadow: none; } 
/* 헤라 메인 */
.hera .heraMain { display: flex; } 
.hera .heraMain .bodyText { height: 168px; margin-bottom: 80px; } 
.hera .heraMain .imgArea { position: relative; } 
.hera .heraMain .snsmodalHover { position: absolute; display: none; left: 0; bottom: 0; } 
.hera .heraMain .snsmodalHover img { box-shadow: none; } 
/* 헤라 푸터 */
.hera .heraFooter { display: flex; } 
.hera .heraFooter .bodyText { height: 49px; margin-bottom: 60px; } 
.hera .heraFooter .imgArea { height: 94px; } 

.hera .heraPartsDes { display: block; } 
.hera .heraParts .imgArea figure { width: 986px; } 
/* .heraParts .imgArea { min-width: 953px; overflow: hidden; } */

.hera .imgDes .ps { margin-top: 6px; } 


/* 현대글로벌 대쉬보드 퍼블 */
/* 대쉬보드 인덱스 */
.dashBoard .index .imgArea { width: 986px; min-width: 986px; justify-content: flex-end; } 
.dashBoard .index .imgArea figure img { box-shadow: none; transform: translateY(-120px); width: 986px; } 


/* 핑크 및 개인 작업물 */
/* 북콘서트 인덱스 */
.gwangbok .index .imgArea { width: 986px; min-width: 986px; } 
.gwangbok .index .imgArea figure .des {transform: translateY(-120px);}
.gwangbok .index .imgArea figure img { transform: translateY(-120px); width: 522px; } 

.gwangbok .imgArea figure.cardNews .des {transform: translateY(0);}
.gwangbok .imgArea figure.cardNews img { transform: translateY(0); width: 522px; margin-bottom: 20px; } 
.gwangbok .desArea .imgArea { display: block; } 

/* 스토리텔링북 */


















/* 모바일 */
@media (max-width: 1880px) { /* html, body { overflow-x: hidden; width: 100%; } */
header { left: -323px; } 
header.fix { left: 0px; } 
header .triggerArea { display: block; } 
.gnbWrap:hover header { left: 0px; } 

footer { left: -323px; } 
footer.fix { left: 0px; } 
.gnbWrap:hover footer { left: 0px; } 


.main { position: relative; margin-left: 0px; padding: 0 40px 0 80px; } 
.main .container { margin: 0 auto; max-width: 1494px; } 
 }