.container { width: 1200px; margin: 0 auto; } 
.swiper { width: 600px; height: 300px; } 
.swiper-slide { text-align: center; } 
.swiper-slide.l { background-color: #ff0; } 
.swiper-slide.ll { background-color: #f0f; } 
.swiper-slide.lll { background-color: #0ff; } 